@model MyHotel.Models.ClienteModel
@{
    ViewBag.Title = "Cadastro de clientes";

    string id = "";
    string nome = "";
    string cpf = "";
    string [] nomeEstadoId = {"",""};
    string cidade = "";
    string celular = "";
    string endereco = "";
    string estado = "";



    try
    {
        id = ViewBag.RecuperaCliente.Id.ToString();
        nome = @ViewBag.RecuperaCliente.Nome.ToString();
        cpf = ViewBag.RecuperaCliente.Cpf.ToString();
        estado = ViewBag.RecuperaCliente.Estado.ToString();
        cidade = ViewBag.RecuperaCliente.Cidade.ToString();
        celular = ViewBag.RecuperaCliente.Celular.ToString();
        endereco = ViewBag.RecuperaCliente.Endereco.ToString();
        nomeEstadoId = estado.Split('-');
    }
    catch
    {

    }

}


<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Cadastro de clientes</h2>
    </div>
</div>

<br />
<br />
<br />

<form asp-controller="Cliente" asp-action="CrearCliente">

    <div class="row">
        <div class="col-md-6 col-sm-10">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input type="text" class="form-control" asp-for="Nome" value="@nome">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-10">
            <div class="form-group">
                <label for="Cpf">Cpf:</label>
                <input type="text" class="form-control" asp-for="Cpf" value="@cpf">
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-10">
            <div class="form-group">
                <label for="Celular">Celular:</label>
                <input type="text" class="form-control" asp-for="Celular" value="@celular">
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-10">
            <div class="form-group">
                <label for="Endereco">Endereço:</label>
                <input type="text" class="form-control" asp-for="Endereco" value="@endereco">
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-10">
            <div class="form-group">
                <label for="Estado">Estado</label>
                <select class="form-control" asp-for="Estado" name="Estado" id="estado">
                    <option value="@nomeEstadoId[1]">@nomeEstadoId[0]</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-10">
            <div class="form-group">
                <label for="Cidade">Cidade</label>
                <select asp-for="Cidade" class="form-control" id="cidade">
                    <option value="@cidade">@cidade</option>
                </select>
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-10">
            <div class="form-group">
                <button type="submit" class="  btn-group-justified  btn btn-default btn-success">Registrar</button>
            </div>
        </div>
    </div>


</form>



@section Scripts
    {

    <script type="text/javascript">

        $(function () {
            $("#estado").change(function () {
                var estado = $("#estado").val();
                $("#cidade").empty();
                $.post("/Cliente/GetCidades",
                    {
                        estado: estado,

                    },
                    function (data, status) {

                        var selectbox = $('#cidade');

                        for (var i = 0; i < data.length; i++) {
                            selectbox.append('<option value="' + data[i].Cidade + '">' + data[i].Cidade + '</option>');

                        }


                    });
            });

            $("#estado").focus(function () {
                var estado = $("#estado").val();
                $("#estado").empty();
                $.get("/Cliente/GetEstados",

                    function (data, status) {

                        var selectbox = $('#estado');

                        for (var i = 0; i < data.length; i++) {
                            selectbox.append('<option value="' + data[i].Id + '">' + data[i].Estado + '</option>');

                        }


                    });
            });
        });
    </script>
}
