@model MyHotel.Models.ClienteModel
@{
    ViewBag.Title = "Cadastro de clientes";

    string vid = "";
    string vnome = "";
    string vcpf = "";
    string[] vnomeEstadoId = { "", "" };
    string vcidade = "";
    string vcelular = "";
    string vendereco = "";
    string vestado = "";



    try
    {
        vid = ViewBag.RecuperaCliente.Id.ToString();
        vnome = @ViewBag.RecuperaCliente.Nome.ToString();
        vcpf = ViewBag.RecuperaCliente.Cpf.ToString();
        vestado = ViewBag.RecuperaCliente.Estado.ToString();
        vcidade = ViewBag.RecuperaCliente.Cidade.ToString();
        vcelular = ViewBag.RecuperaCliente.Celular.ToString();
        vendereco = ViewBag.RecuperaCliente.Endereco.ToString();
        vnomeEstadoId = vestado.Split('-');
    }
    catch
    {

    }

}


<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Cadastro de clientes</h2>
    </div>
</div>

<br />
<br />
<br />

    <form asp-controller="Cliente" asp-action="CrearCliente">

        <div class="row">
            <div class="col-md-6 col-sm-10">
                <div class="form-group">
                    <label for="Nome">Nome:</label>
                    <input type="text" class="form-control"  asp-for="Nome" value="@vnome">
                </div>
            </div>

            <div class="col-md-6 col-sm-10">
                <div class="form-group">
                    <label for="Cpf">Cpf:</label>
                    <input type="text" class="form-control"  pattern="^\d{3}.\d{3}.\d{3}-\d{2}$" asp-for="Cpf" value="@vcpf" id="cpf" title="Digite o cpf no formato 111.111.111-11" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10">
                <div class="form-group">
                    <label for="Celular">Celular:</label>
                    <input type="text" class="form-control"  pattern="\([0-9]{2}\)[\s][0-9]{5}-[0-9]{4}" asp-for="Celular" value="@vcelular" id="celular" title="digite o Cel no formato (11) 11111-1111 " required>
                </div>
            </div>
            <div class="col-md-6 col-sm-10">
                <div class="form-group">
                    <label for="Endereco">Endereço:</label>
                    <input type="text" class="form-control" asp-for="Endereco" value="@vendereco" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10">
                <div class="form-group">
                    <label for="Estado">Estado</label>
                    <select class="form-control" asp-for="Estado" name="Estado" id="estado" required>
                        <option value="@vnomeEstadoId[1]">@vnomeEstadoId[0]</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-10">
                <div class="form-group">
                    <label for="Cidade">Cidade</label>
                    <select asp-for="Cidade" class="form-control" id="cidade" required>
                        <option value="@vcidade">@vcidade</option>
                    </select>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-10">
                <div class="form-group">
                    <button type="submit" class="  btn-group-justified  btn btn-default btn-success">Registrar</button>
                </div>
            </div>
        </div>


    </form>

  

    @section Scripts
        {

        <script type="text/javascript">


            $(function () {

                $("#estado").change(function () {
                    var estado = $("#estado").val();
                    $("#cidade").empty();
                    $.post("/Cliente/GetCidades",
                        {
                            estado: estado,

                        },
                        function (data, status) {

                            var selectbox = $('#cidade');

                            for (var i = 0; i < data.length; i++) {
                                selectbox.append('<option value="' + data[i].Cidade + '">' + data[i].Cidade + '</option>');

                            }


                        });
                });

                $("#estado").focus(function () {
                    var estado = $("#estado").val();
                    $("#estado").empty();
                    $.get("/Cliente/GetEstados",

                        function (data, status) {

                            var selectbox = $('#estado');

                            for (var i = 0; i < data.length; i++) {
                                selectbox.append('<option value="' + data[i].Id + '">' + data[i].Estado + '</option>');

                            }


                        });
                });
            });

            $(document).ready(function () {
                $('#celular').mask('(00) 00000-0000');
                $('#cpf').mask('000.000.000-00', { reverse: true });
            });
        </script>

    }
