@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<h3 class="text-center">Clientes</h3>
<div class="row">
    <div class="col-md-6">
        <button type="button" class=" btn btn-default btn btn-success" onclick="RegistrarTransacao()">Novo Cliente</button>
    </div>
    <div id="alert_red">

    </div>
</div>
<br />
<table id="table" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Celular</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Ações</th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
            {

                <tr>
                    <th>@item.Id.ToString()</th>
                    <td>@item.Nome.ToString()</td>
                    <td>@item.Celular.ToString()</td>
                    <td id="table-estado">@item.Estado.ToString()</td>
                    <td>@item.Cidade.ToString()</td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="Editar(@item.Id.ToString())">Editar</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_excluir" id="excluir">Excluir</button>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_detalhes" id="detalhes">Detalhes</button>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="modal_excluir">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deseja Realmente Excluir registro de id <span id="info_excluir"></span>? </h4>
            </div>
            <div class="modal-body">
                <div class="body_contents">
                    <h4 class="text-left" id="info_body_excluir"></h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirma_excluir">Confirmar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Button trigger modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="modal_detalhes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> Detalhes </h4>
            </div>
            <div class="modal-body">
               <div class="body_contents">
                    <p id="id_detalhes" class="text-left"></p>
                    <p id="nome_detalhes" class="text-left"></p>
                    <p id="endereco_detalhes" class="text-left"></p>
                    <p id="cpf_detalhes" class="text-left"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Button trigger modal -->



<script>
    function RegistrarTransacao() {
        window.location.href = "../Cliente/CrearCliente";
    }


    function Editar(id) {
        window.location.href = "../Cliente/CrearCliente/" + id;
    }

</script>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#table').DataTable(
                {

                    "oLanguage": {
                        "sProcessing": "Processando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "Não foram encontrados resultados",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                        "sInfoFiltered": "",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "oPaginate": {
                            "sFirst": "Primeiro",
                            "sPrevious": "Anterior",
                            "sNext": "Seguinte",
                            "sLast": "Último"
                        }
                    }
                }


            );
        });


    </script>


    <script>

        var dados="";
        

        $(document).on("click", "#table>tbody>tr", function () {
            dados = $('#table').DataTable().row(this).data();
            $("#info_excluir").text(dados[0]);
            $("#info_body_excluir").text('Excluir ' + dados[0] + ' - ' + dados[1] + '?');
        
        var id = $("#info_detalhes").text();
            $.ajax({
                type: "get",
                url: "/Cliente/GetDetalhes/",
                data: { id: dados[0] },
                dataType: ' json ',
                success: function (data) {

                    $("#id_detalhes").text('Id: ' + data.Id);
                    $("#nome_detalhes").text('Nome: ' + data.Nome);
                    $("#endereco_detalhes").text('Endereço: ' + data.Endereco);
                    $("#cpf_detalhes").text('Cpf: ' + data.Cpf);




                }, error: function () {
                    alert('Ocorreu um erro parece que não há conexão com a internet');

                }
            });
        });
        
        $(function () {
            $("#confirma_excluir").click(function () {
                let id = $("#info_excluir").text();
                $.post("/Cliente/Excluir/" + id,
                    { data: id },
                    function (data, status) {

                        $('#alert_red').html(
                            `<div class="alert alert-success alert-dismissible col-md-6">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                                Cliente Deletado com sucesso!!
                                </div>  `).fadeIn(5000).delay(5000).fadeOut(5000);
                        //id=0;
                        let delay = 5000; //3 seconds
                        setTimeout(function () {
                            history.go(0);
                            //your code to be executed after 1 seconds
                        }, delay);
                        //alert(status)

                    });
            });

            $(document).ajaxError(function () {
                $('#alert_red').html(
                    `<div class="alert alert-danger alert-dismissible col-md-6">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
                                Erro verifique a conexão!!
                                </div>  `).fadeIn(5000).delay(5000).fadeOut(5000);
                //id=0;
                let delay = 5000; //3 seconds
                setTimeout(function () {
                    history.go(0);
                    //your code to be executed after 1 seconds
                }, delay);
                //alert(status)
            });
        });

     

    </script>
   
    <style>
        .body_contents{
            margin-left:120px;
        }
    </style>
    
}
